
h1 {
    text-align: center;
    color: blue;
    font-size: 60px;
}

body {
    background-image: url("im.jpg");
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(59, 228, 17);
}
h2 {
    background-color: white;
    display: inline-block;
}
ol {
    background-color: white;
 
}

h3 {
    color: white;
    background-color: blue;
}

a {

    list-style-type: none;
    color: crimson;
    text-decoration: none;
}